{% extends "users/base.html" %}
{% block title %}profile{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
    <div class="container">
        <h1>Create an Item</h1>
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-success">Add</button>
        </form>     
    </div>
{% else %}
        <h1>Welcome to our website</h1>
        <h5>Please login or register to access more features.</h5>    
{% endif %}

{% endblock%}