{% extends "users/base.html" %}
{% block title%} Login {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
        <h1>Hello, {{ user.username }}!</h1>
        <h5>You are already logged in.</h5>
{% else %}
        <h1>Login</h1>
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <p>Dont have an account? Create one <a href="/register"> Here</a></p>
            <button type="submit" class="btn btn-success">Login</button>
        </form>   
{% endif %}

{% endblock %}